@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
    .preparados {
        page-break-after: always;
    }
}

td,
th,
tr,
table {
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 23mm;
    align-content: center;
    text-align: center;
}

td.cantidad,
th.cantidad {
    width: 10mm;
    word-break: break-all;
    text-align: center;
}

td.cantidadcocina,
th.cantidadcocina {
    width: 20mm;
    word-break: break-all;
    text-align: center;
}

td.precio,
th.precio {
    width: 23mm;
    word-break: break-all;
    text-align: center;
}

.centrado {
    text-align: center;
    align-content: center;
}

.tickets {
    width: 71.9mm;
    max-width: 71.9mm;
}

.ticketcliente {
    font-size: 12px;
    font-family: "Times New Roman";
}

.ticketcocina {
    font-size: 15px;
    font-family: "Times New Roman";
}

.total {
    font-weight: bold;
}

hr {
    border-top: 1px dashed;
}

.hr2 {
    width: 50%;
    display: inline-block;
}

.hr1 {
    width: 100%;
}